/*Overall*/


html{
    background-color: #EBBAB9;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

/*HEADER*/

header {
    height: 15%;
    border: 10px #A3320B dashed;
    border-radius: 5px;
}

header h1 {
    font-size: 75px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

span:hover {
    text-shadow: 0 0 10px #B5FFE1;
}

/*FORM*/

#quiz {
   text-align: center;
   font-family: 'Raleway', sans-serif;

}

input[type=radio]{

}

.button {
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    color: white;
    background-color: #CC2936;
    border-radius: 10px;
    }


.result {
    text-align: center;
    font-size: 35px;
    display: none;
}

.result:hover {
    text-shadow: 0 0 10px #B5FFE1;
}

.result img {
    border-radius: 15px;
}